.App {
  text-align: center;
}

.form-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.form {
  margin: 20px;
}

.form-member {
  margin: 5px;
}

.form-link {
  margin: 10px;
}

